<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G News | Administration | New post</title>
    <link rel="stylesheet" href="/css/navigation_admin.css" type="text/css">
    <link rel="stylesheet" href="/css/newpost.css" type="text/css">
    <link type="image/x-icon" rel="icon" href="/images/favicon.ico">
</head>
<body>
    



    <!-- Navbar e menu -->
    <%- include('include/navigation_admin')  %>

    <!-- Form New Post -->
    <div id="structure">
        <div id="whitebox">
            <h2>New news post</h2>
            <form name="formNewPost" action="/administration/newpost" method="post"  onsubmit="publishNews(event)">
                <div class="container">
                    <!-- Box Left -->
                    <div class="container-left">
                        <!-- TITULO -->
                        <label class="title-label" for="title">Title:</label>
                        <input type="text" name="title" id="title" autocomplete="off" spellcheck="false" onkeyup="urlGenerator()">

                        <!-- url path -->
                        <p class="labelUrl">News URL:</p>
                        <input name="urlpath" type="text" id="urlpath">

                        <!-- SUBTITULO -->
                        <label for="subtitle">Subtitle:</label>
                        <textarea name="subtitle" id="subtitle" cols="30" rows="10" spellcheck="false" autocomplete="off"></textarea>

                        <div class="box-author-locality">
                            <!-- AUTHOR -->
                            <div>
                                <label for="author">Author:</label>
                                <select id="author" name="author">
                                    <option value="0">Select a author:</option>
                                    <% authorsList.forEach(author => { %>
                                        <option value="<%= author.author_id %>"><%= author.name %></option>
                                    <% }); %>
                                </select>
                            </div>

                            <!-- LOCALIDADE -->
                            <div>
                                <label for="locality">Locality:</label>
                                <input type="text" name="locality" id="locality" autocomplete="off" spellcheck="false" placeholder="Rio de Janeiro, Brasil">
                            </div>
                            
                        </div>

                        <!-- card -->
                        <label>Card size on Homepage:</label>
                        <div id="card-radio-container">
                            
                            <label><input class="radio" type="radio" name="cardsize" value="big">Big Card</label>
                            <label><input class="radio" type="radio" name="cardsize" checked value="normal">Normal Card</label>
                        </div>

                        <!-- PICTURE PATH -->
                        <label for="picture">Picture:</label>
                        <input type="file" name="picture" id="picture" autocomplete="off" spellcheck="false" placeholder="/public/images/img1.jpg" >

                        <!-- PICTURE DESCRIPTION -->
                        <label for="picturedescription">Picture description:</label>
                        <input type="text" name="picturedescription" autocomplete="off" spellcheck="false" id="picturedescription">
                    </div>
                    
                    <!-- Box Right -->
                    <div class="container-right">
                        <!-- TEXT -->
                        <label for="text">Text:</label>
                        <textarea name="text" id="text" cols="30" rows="10" spellcheck="false" autocomplete="off"></textarea>
                    </div>
                </div>

                <!-- Alerta de erro de preenchimento -->
                <div class="errAlert" id="errAlert">
                    <p class="errAlertP">Preencher todos campos obrigatórios!</p>
                </div>

                <!-- BUTTONS -->
                <div class="buttons">
                    <button name="reset" type="reset">Clear</button>
                    <button name="publish" type="submit">Publish</button>
                </div>
            </form>
        </div>
    </div>
    <script>

        function urlGenerator(){
            const value = document.getElementById("title").value;
            const url_path = document.getElementById("urlpath");
            
            if (Object.keys(value).length < 60){ 
                url_path.value = document.getElementById("title").value.replace(/ /g,'-').replace(/[^a-zA-Z0-9 -]/g, '');
            }
        }

        function publishNews(ev){
            ev.preventDefault()

            const formData = new FormData()
            formData.append("title", document.getElementById("title").value)
            formData.append("subtitle", document.getElementById("subtitle").value)
            formData.append("urlpath", document.getElementById("urlpath").value)
            formData.append("author", document.getElementById("author").value)
            formData.append("locality", document.getElementById("locality").value)
            formData.append("picture", document.getElementById("picture").files[0].name)
            formData.append("picturedescription", document.getElementById("picturedescription").value)
            formData.append("text", document.getElementById("text").value)
            formData.append("cardsize", document.querySelector('input[name="cardsize"]:checked').value)
            formData.append("file", document.getElementById("picture").files[0])

            fetch('/administration/newpost',{
                method: 'POST',
                body: formData,
            }).then((response)=>{
                if (response.ok){
                    window.location.href = '/administration/overview' 
                    return
                } else {
                    document.getElementById("errAlert").style.display = 'flex'
                }
            }).catch((err)=>{
                window.location.href = `/error?msg=${err}`
                
            })
        }
            
       
    </script>
</body>
</html>