<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G News | Administration | Settings</title>
    <link rel="stylesheet" href="/css/navigation_admin.css" type="text/css">
    <link rel="stylesheet" href="/css/settings.css" type="text/css">
    <script src="/js/navbarAdmin.js"></script>
    <link type="image/x-icon" rel="icon" href="/images/favicon.ico">
</head>
<body>
    
    <!-- Navbar -->
    <%- include('include/navigation_admin') %>

    <div id="structure">

        <div id="newUser">
            <label for="">Username</label>
            <input type="text">
            <label for="">Password</label>
            <input type="password" name="" id="">
            <label for="">Confirm password</label>
            <input type="password" name="" id="">
            <div class="btnRegister"><a href="#" onclick="">Register user</a></div>
            
        </div>









    </div>






</body>


<script>
    function openNav() {
        document.getElementById("menu_left").style.width = "200px";
        // document.getElementById("grid_overview").style.marginLeft = "215px";
    }

    function closeNav() {
        document.getElementById("menu_left").style.width = "0";
        // document.getElementById("grid_overview").style.marginLeft= "20px";
    }
</script>
</html>