<script>
    function gotoHome(){
        window.location = '/';
    }

    function gotoAdmin(){
        window.location = '/administration/overview';
    }
</script>

<!-- <script src="https://kit.fontawesome.com/51f2407d07.js" crossorigin="anonymous"></script> -->

<nav>
    <div class="nav-container">
        <div class="nav-items-left">
            <i class="fa-solid fa-newspaper fa-lg" style="color: white"></i>
            <img src="/images/favicon.ico" alt="">
            <a class="btn-navbar" onclick="gotoHome()" href="#"><b>G News</b></a>
            <!-- <a class="btn-navbar" href="">Sports</a> -->
            </div>
            <div class="nav-items-right">
            <% if (user){ %>
                    <a href="#" onclick="gotoAdmin()" class="username-box"><p><%= user.name %></p></a>
            <% } else { %>
                    <a href="#" onclick="gotoAdmin()" class="btn-admin"><p>Login</p></a>
            <% } %>
        </div>
    </div>
</nav>
