<script>
    function gotoOverview(){
        window.location = '/administration/overview';
    }

    function gotoNewPost(){
        window.location = '/administration/newpost';
    }
    
    function gotoSettings(){
        window.location = '/administration/settings';
    }
    
    function openNav() {
        let menu_left = document.getElementById("menu_left").style
        let structure = document.getElementById("structure").style

        if (window.matchMedia('(max-width: 600px)').matches){
            menu_left.width = "200px";
        } else {
            menu_left.width = "200px";
            structure.marginLeft = "200px";
        }
    }

    function closeNav() {
        let menu_left = document.getElementById("menu_left").style
        let structure = document.getElementById("structure").style
        
        if (window.matchMedia('(max-width: 600px)').matches){
            menu_left.width = "0";
        } else {
            menu_left.width = "0";
            structure.marginLeft= "0";
        }
    }

</script>

    
    <!-- navbar top -->
    <nav>
        <div id="navbar">
            <div class="left">
                <a class="btnOpen" href="#" onclick="openNav()">
                    <div>&#9776;</div>
                </a>
                <div><p><b>Adminstration G News</b></p></div>
            </div>
            <div class="right">
                <%if (user) {%>
                <p>User: </p>
                <p class="username"><%= user.name %></p>
                <%}%>
            </div>
        </div>
    </nav>

    <!-- Menu left -->
    <div id="menu_left">
        <a class="btnClose" onclick="closeNav()" href="#">
            <div class="item_menu_btnClose">
                <p class="p_btnClose">&times;</p>
            </div>
        </a>
        <a onclick="gotoOverview()" href="#">
            <div class="item_menu">
                <p>📰 Posts overview</p>
            </div>
        </a>
        <a onclick="gotoNewPost()" href="#">
            <div class="item_menu">
                <p>➕ New Post</p>
            </div>
        </a>
        <a href="#" onclick="gotoSettings()">
            <div class="item_menu">
                <p>⚙️ Settings</p>
            </div>
        </a>
    </div>